@model Department

<div>
    <label>Name</label>
    <input asp-for="Name" class="form-control" />
    <span asp-validation-for="Name"></span>
</div>
<div>
    <label>Code</label>
    <input asp-for="Code" class="form-control" />
    <span asp-validation-for="Code"></span>
</div>
<div>
    <label>Creation Date</label>
    <input asp-for="CreatedDate" class="form-control" />
    <span asp-validation-for="CreatedDate"></span>
</div>
