@model Department
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>
<form asp-action="Create">
    <partial name="PartialViews/_CreatEditDepartmentPartialView" />
    <br />
    <input type="submit" value="Create" class="btn btn-success" />
    <a asp-action="Index" class="btn btn-primary">Back To List</a>
</form>

@section Scripts
{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}