@model Department
@{
    ViewData["Title"] = "Delete";
}

<h1>Are You Sure You Want Delete This Department</h1>

<form asp-action="Delete">
    <div asp-validation-summary="All"> </div>
    <div>
        <label>Name</label>
        <input asp-for="Name" class="form-control" readonly />
    </div>
    <div>
        <label>Code</label>
        <input asp-for="Code" class="form-control" readonly />
    </div>
    <div>
        <label>Creation Date</label>
        <input asp-for="CreatedDate" class="form-control" readonly />
    </div>
    <br />
    <input type="submit" value="Delete" class="btn btn-danger" />
    <a asp-action="Index" class="btn btn-primary">Cancle</a>
</form>