@model RoleViewModel
@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<form asp-action="Delete">
    <div>
        <label>Id</label>
        <input asp-for="Id" class="form-control" readonly />
    </div>
    <div>
        <label>Role Name</label>
        <input asp-for="RoleName" class="form-control" readonly />
    </div>
    <br />
    <input type="submit" value="Delete" class="btn btn-danger" />
    <a asp-action="Index" class="btn btn-primary">Cancle</a>
</form>
