@model RoleViewModel
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>



<form asp-action="Edit">
    <div asp-validation-summary="All"> </div>
    <div>
        <label>Role Name</label>
        <input asp-for="RoleName" class="form-control" />
        <span asp-validation-for="RoleName"></span>
    </div>
    <br />

    <input type="submit" value="Save" class="btn btn-primary" />
    <a asp-action="Index" class="btn btn-primary">Back To List</a>
</form>